.table thead {
    padding: 3px;
    font-size: 30px;
}
.savingAccountEntry {
    background-color: var(--light);
    margin: 3px;
    font-size: 24px;
}
.table {
    border: 1px solid var(--dark);
}
.table td {
    padding: 5px;
}

.error {
    color: red;
}
.flexOuter,
.flexInner {
  list-style-type: none;
  padding: 0;
}
.flexOuter {
    max-width: 800px;
    margin: 0 auto;
  }
  
.flexOuter li,
.flexInner {
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    flex-direction: column;
}

.container {
    display: flex;

}

.accountSplit {
    width: 400px;
}